/* başlıklar */
h2 {
  color: #325494;
  font-weight: bold;
}

/* header */
#header {
  background: transparent;
  height: 80px;
  transition: background-color 0.3s ease;
}

#header.scrolled {
  background-color: #325494;
}

#header .container {
  display: flex;
  justify-content: space-between;
}

#header .logo img {
  display: block;
  justify-content: space-around;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar li {
  position: relative;
  padding: 10px 20px;
}

#navbar li a {
  font-weight: bold;
  color: #fff;
}

.menu-btn,
.menu-icon {
  display: none;
}

.join {
  background-color: #f59c06;
  border-radius: 6px;
}

.btn-primary {
  background-color: #325494;
  border: none;
}

/* hero-section */
#section-hero {
  height: 100vh;
  background-image: url(/images/hero-man.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

#section-hero p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  opacity: 0.8;
}

.text-1 {
  text-shadow: 2px 2px 3px #000000;
  background-color: #325494;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}

/* Sign Up ve Details Butonları */

.custom-button {
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  height: 45px;
  line-height: 1;
}

.details-button {
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  height: 47px;
  line-height: 1;
  border-radius: 3px;
  font-family: Outfit;
}



.signup-button {
  background-color: #325494;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  height: 47px;
  line-height: 1;
  border-radius: 3px;
  font-family: Outfit;
}

.signup-button:hover {
  background-color: #f59c06;
}

.details-button:hover {
  background-color: #f59c06;
  color: #fff;
  border: none;
}

.button-space {
  width: 50px;
  display: inline-block;
}

/* Ara kısım Course - Work Out - Working Hour - Happy Client */

#second {
  background-color: #f1f8ff;
  width: 100%;
}

.box {
  text-align: center;
  background-color: #fff
}

.boxes {
  margin-top: 50px;
  margin-bottom: 40px;
}

.boxes h4 {
  margin-top: 50px;
  font-weight: 800;
  margin: 20px;
}

/* Rakamlar ve Tanımlamalar */

.number {
  color: #325494;
  font-size: 30px;
  padding-top: 20px;
  font-family: Outfit;
}

.title {
  padding-bottom: 20px;
  font-family: Outfit;

}

.main {
  justify-content: center;
  text-align: center;
}

.title-1 {
  text-align: center;
  padding-top: 50px;
  font-weight: 800;
  font-size: 32px;
  color: #325494;
  font-family: Outfit;
}

.text-4 {
  font-weight: 700;
  color: #515151;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: Outfit;
}

/* Başlık altı çizgi */

.liner {
  width: 80px;
  border: none;
  border-top: 9px solid #f29e08;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-left: 260px;
  opacity: 20;

}

.lines {
  width: 80px;
  border: none;
  border-top: 9px solid #f29e08;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-left: 900px;
  opacity: 20;
}

/*Yoga ve diğer değişen sayfaların olduğu bölüm => Diğerleri main.js bölümünde Our Classes atamaları olarak verildi */

.yoga {
  margin-top: 80px;
  max-width: 400px;
}

.yoga-text {
  font-weight: 700;
  font-family: Outfit;
  color: #464742
}

.yoga-title {
  font-weight: 800;
  font-family: Outfit;
  color: #464742
}

.yoga-prag {
  color: #515151;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yoga-img {
  margin-left: 100px;
}

.third-container {
  position: relative;
  margin-bottom: 50px;
}

/* Ayrı section olarak Our Classes Bölümü */

#third {
  margin-bottom: 50px;
}


.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f6f6f6;
  clip-path: polygon(48% 100%, 100% 100%, 100% 0, 35% 0);
}

.boxs {
  text-align: center;
}

.title-2 {
  color: black;
  text-align: center;
  font-size: 25px;

}

.title-3 {
  text-align: left;
  font-weight: 800;
  font-size: 40px;
  color: #325494;
  font-family: Outfit;
  margin-bottom: 20px;

}

/* Butonlar ve hover */

.our-classes-buttons {
  position: relative;
  background-color: #325494;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: auto;
  height: 47px;
  line-height: 1;
  border-radius: 3px;
  font-family: Outfit;
}

.our-classes-buttons::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #f59c06 transparent;
  opacity: 0;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.our-classes-buttons:hover::after {
  opacity: 10;
  transition: background-color 2s ease, color 2s ease;
}

.our-classes-buttons:hover {
  background-color: #f59c06;
  color: #fff;
  transition: background-color 0.1s ease, color 0.1s ease;
}

/* Bmi Bölümü */

.bmi-container {
  margin-top: 80px;
  max-width: 400px;
}

.bmi-text {
  font-weight: 700;
  font-family: Outfit;
}

.bmi-title {
  font-weight: 800;
  font-family: Outfit;
  margin-bottom: 200px;
}

.bmi-prag {
  color: #515151;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bmi-img {
  margin-left: 150px;
  font-family: Outfit;
  position: relative;
}

.img-triangle {
  color: #f29e08;
  position: absolute;
  bottom: -22%;
  left: 6%;
  transform: translateY(-50%);
  font-size: 50px;

}

.input-your {
  display: flex;

}

.input-container {
  display: flex;
  align-items: center;
}

.input {
  width: 150px;
  height: 25px;
  border: 1px solid rgb(17, 17, 17);
  border-radius: 3px;
}

.input-container .input-y {
  margin-left: 15px;
  margin-right: 8px;
  margin-top: 14px;
}


.input::placeholder {
  text-align: left;
  line-height: 1.5;
}

.title-4 {
  padding-top: 50px;
  font-weight: 800;
  font-size: 32px;
  color: #325494;
  font-family: Outfit;
}

.text-5 {
  text-align: center;
  font-weight: 700;
  color: #515151;
  max-width: 600px;
  margin: 0 auto;
  font-family: Outfit;
}

/* Our Best Trainers Resimler ve Effect */

#fourth {
  bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  background-color: #f4faff;
}

.trainer-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 5rem;
  padding-bottom: 50px;
}


.trainer-img {
  border-radius: 5px;
  border: 2px solid #f29e08;
  display: flex;
  flex-direction: column;
}

.tra-div {
  position: relative;

}

/* Yan hoverlar */

.after {
  position: absolute;
  background-color: #325494;
  width: 30%;
  height: 105%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.after-right {
  position: absolute;
  background-color: #325494;
  width: 106%;
  height: 30%;
  top: 50%;
  left: -3%;
  transform: translate(0, -50%);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.trainer-img {
  position: relative;
  border-radius: 5px;
  border: 2px solid #f29e08;
  display: flex;
  flex-direction: column;
  z-index: 2;
}


.trainer-img:hover~.after {
  background-color: #325494;
  height: 105%;
  width: 65%;

}

.trainer-img:hover~.after-right {
  background-color: #325494;
  height: 65%;
  width: 106%;
}

/* Resim önündeki trainers bilgileri effect ile */

.after-left {
  position: absolute;
  background-color: #325494;
  width: 270px;
  height: 120px;
  top: 50%;
  left: 5.5%;
  clip-path: polygon(0 16%, 18% 16%, 18% 0, 84% 0, 83% 19%, 100% 19%, 100% 82%, 83% 82%, 83% 100%, 17% 100%, 17% 81%, 0 81%);
  transform: translate(-50, -50%);
  z-index: 2;
  opacity: -1;
  transition: all 0.5s ease-in-out;
  text-align: center;
  font-size: 28px;
  font-family: Outfit;
  color: white;
}


.after-left p {
  font-size: 16px;
  margin-top: 20px;
}

.after-left span {
  opacity: 1;
  vertical-align: bottom;
}

.trainer-img:hover~.after-left,
.after-left:hover {
  background-color: #325494;
  height: 120px;
  width: 270px;
  top: 60%;
  opacity: 2;
  z-index: 3;
}

/* Purchase From Us */

#fifth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;

}

.purchase-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
  padding-bottom: 50px;

}


.purchase-box img {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 350px;
  border-radius: 9px;
}

.strike {
  text-align: center;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 600;
}

.through {
  text-decoration: line-through;

}

.pur-title {
  text-align: center;
  font-size: 30px;
  font-family: Outfit;
  font-weight: 600;
}

.add a {
  display: flex;
  color: #3b3b3b;
  text-decoration: none;

}

.basket {
  text-align: center;
  font-family: Outfit;
  margin-left: 60px;
  margin-right: 8px;
  margin-bottom: 20px;
  font-weight: 800;
}

.shop {
  margin-top: 5px;
  margin-left: 25px;
  color: #000000;
}

.purc {
  display: flex;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  border-radius: 40px;
}

.shop:hover {
  color: #f29e08
}

.purchase-container .card {
  border-radius: 10px;
}

.purchase-container .card img {
  border-radius: 3px;
}


.client {
  margin-right: 3px;
  margin-top: 3px;
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

/* Review Client Bölümü*/

#sixth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #f4faff;

}

.client-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-bottom: 50px;

}

.client-box img {
  display: flex;
  flex-direction: column;
}


.client-info {
  display: flex;
  align-items: center;
  gap: 14px;
  text-align: left;
}

.client-text {
  padding: 0;
  margin: 0;
  font-family: Outfit;
  font-weight: 600;
  font-size: 2;

}

.client-text-1 {
  font-family: Outfit;
  font-weight: 500;
  font-size: 14px;
  padding-top: 5px;
}


.client-parag {
  background-color: #325494;
  color: #fff;
  width: 500px;
  padding: 15px;
  position: relative;
  margin-left: 10px;


}

.client-parag::after {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  border-top: 30px solid rgba(50, 84, 148, 0.5);
  border-left: 30px solid transparent;
  transform: rotate(270deg);

}

.client-parag::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  border-top: 30px solid rgba(50, 84, 148, 0.5);
  border-right: 30px solid transparent;
  transform: rotate(90deg);
}

.client-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

/* Contact Us Bölümü */

#seventh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;

}

.contact-containers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  padding-bottom: 50px;

}

.contant-parag {
  font-size: 28px;
  font-weight: 600;
  color: #515151;
  font-family: Outfit;
}

.contant-text {
  font-size: 25px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-family: Outfit;
  font-weight: 600;
  font-size: 2;
  color: #515151;

}

.contant-text-1 {
  font-size: 15px;
  font-weight: 600;
  font-family: Outfit;
  color: #515151;
}

.form-group {
  margin-bottom: 20px;
  font-family: Outfit;


}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border: 1px solid #f4faff;
  border-radius: 4px;
  width: 500px;
  margin-top: 20px;
}

.form-group textarea {
  height: 100px;
}

#mesaj {
  height: 150px;
}

.form-group button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Footer Bölümü */

#footer {
  background-color: #325494;
  color: #fff;
  font-weight: 600;
  font-family: Outfit;
  gap: 5rem;
  margin-top: 100px;
}


#footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-bottom: 50px;

}

.footer-logo {
  padding-left: 250px;
}

.footer-logo p {
  width: 1400px;
}

.purchase-box img {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 350px;
  border-radius: 9px;
}

.strikes {

  font-size: 20px;
  font-family: Outfit;
  font-weight: 400;
  list-style: none;
}

.cont-title {

  font-size: 30px;
  font-family: Outfit;
  font-weight: 500;
}

.contact-container {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  justify-content: space-around;
}

.contact-infos,
.helpful-links {
  flex: 0 0 auto;
  margin: 0 200px;
  max-width: 200px;
}

ul {
  padding: 0px;
}

.cont-title,
.strikes {
  margin: 5px 0;
}

/* 576px Görünüm */

@media (max-width: 576px) {

  #header {
    max-width: 576px;
  }

  .navbar {
    display: flex;
    position: fixed;
    top: 80px;
    right: 0;
    width: 30%;
    height: 50vh;
    background-color: #325494;
    flex-direction: column;
    gap: 1rem;
    z-index: 1000;
    transform: translate(100%);
    transition: all 0.5s;
  }

  .menu-btn {
    display: none;
  }

  .menu-btn:checked~.navbar {
    display: flex;
    transform: translateY(0);
  }

  /* Menü icon */
  .menu-icon {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
    z-index: 2000;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Giriş bölümü mobil */
  #section-hero {
    padding-top: 60px;
  }

  /* Giriş buton ayarları*/
  .custom-button {
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    height: 45px;
    line-height: 1;
  }

  .details-button {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    height: 47px;
    line-height: 1;
    border-radius: 3px;
    font-family: Outfit;
  }

  .signup-button {
    background-color: #325494;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    height: 47px;
    line-height: 1;
    border-radius: 3px;
    font-family: Outfit;
  }

  .signup-button:hover {
    background-color: #f59c06;
  }

  .details-button:hover {
    background-color: #f59c06;
    color: #fff;
    border: none;
  }

  .button-space {
    width: 50px;
    display: inline-block;
  }

  .sig-det-btn {
    display: block;
  }

  .sig-det-btn::after {
    content: "";
    display: table;
    clear: both;
  }

  .sig-det-btn button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
  }

  .text-1 {
    font-size: 30px;
  }

  .text-2 {
    font-size: 50px;
    font-weight: 700;
    font-family: Outfit;
  }

  .text-2 br:first-child {
    display: none;

  }

  .text-3 {
    /* width: 100%; */
    width: 550px;
    font-size: 20px;
    text-align: left;

  }

  /* Ara Bölüm */
  #second {
    position: relative;
  }

  .box {
    width: 300px;
    justify-content: center;
    text-align: center;
    margin-left: 120px;

  }

  .boxes {
    width: 300px;
  }

  /* Our Classes Bölümü */
  #third {
    position: relative;

  }

  .text-4 {
    width: 100%;
    width: 220px;
  }

  .text-5 {
    width: 100%;
    width: 220px;
  }

  /* yoga yazılar ve başlık */

  .yoga-text {
    text-align: center;
    font-size: 20px;
    color: #464742
  }

  .yoga-title {
    font-size: 30px;
    text-align: center;
    color: #464742
  }

  .title-3 {
    text-align: center;
  }

  /* Bmi ayarları */

  .bmi-text {
    text-align: left;
    width: 500px;
  }

  .bmi-img {
    text-align: center;
    margin-left: 0;
  }

  .img-triangle {
    left: 10%;
  }

  .input-your {
    display: block;
  }

  /* Purchase Bölümü */
  .tra-div {
    margin-bottom: 50px;
  }

  .trainer-box {
    display: inline-block;
  }

  .purchase-container {
    display: inline-block;
  }

  .card {
    margin-bottom: 10px;
  }

  .client-container {
    display: inline-block;
  }

  .client-info {
    margin-top: 50px;
  }

  .contact-container {
    display: inline-block;
  }

  #contact-info iframe {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* .client-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  /* Footer */
  .footer-logo img {
    margin-left: 20px;
  }

  .footer-logo {
    padding-left: 0;
    /* margin-left: 5px; */
  }

  .footer-logo p {
    width: 550px;
    margin-left: 20px
  }

  .contact-containers {
    display: inline-block;

  }



  .contact-container {
    display: flex;

  }

  .client-container {
    display: inline-block;
  }

  .contact-infos {

    margin: 0;
  }

  .helpful-links {
    margin: 0;
  }

  /* Ufak ayarlar */
  .liner {
    text-align: center;
    margin-left: 85px;
  }

  .lines {
    width: 80px;
    border: none;
    border-top: 9px solid #f29e08;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 250px;
    opacity: 20;
  }

  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
}